<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ title }}</h1>
      <hr/>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="{{ filterLabel }}">
        <!--<div class="input-group-append">
          <button class="btn btn-secondary">{{ filterLabel }}</button>
        </div>-->
      </div>
      <hr/>

      <ul class="list-group">
        <li *ngFor="let car of cars | textFilter:filterText:'name'"
          class="list-group-item">
          {{ car.name }}
        </li>
      </ul>
    </div>
  </div>
</div>



